 body {
      margin: 0;
      font-family: sans-serif;
    }

    .container {
      width: 60%;
      margin: 0 auto;
      padding-top: 50px;
    }

    .step {
      min-height: 100vh; /* each step fills the viewport */
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #ccc;
      transition: background-color 0.3s, color 0.3s;
    }

    .step.is-active {
      background-color: #ad97b0;
      color: #fff;
    }
    
    .text{
      width:80%;
      font-size: 30px;
      text-align: center;

    }
    .vr-card{
      width: 80%;
      height: 600;
    }
  @media (orientation:portrait){
    .container{
      width:100%;
      margin: 0 auto;
      padding-top: 50px;

    }
    .text{
      width:95%;
      font-size: 2rem;
      text-align: center;

    }
     .vr-card{
      width: 95%;
    }

  }
